**Data Types:**
Define a variable my_integer with the value 42. Create a variable my_float with the value 3.14. Declare a variable my_string with the value "Hello, Python!". Print the type of each variable.

In [ ]:
my_integer = 42
my_float = 3.14
my_string =  "Hello, Python"

print(type(my_integer))
print(type(my_float))
print(type(my_string))

<class 'int'>
<class 'float'>
<class 'str'>

**Operators:**
implement a program that calculates the area of a rectangle. Take the length and width as input from the user. Use the modulo operator to find the remainder when dividing 15 by 4

In [ ]:
length = int(input("enter length"))
width = int(input("enter width"))

Area_of_rectangle = length*width
print(Area_of_rectangle)

enter length8
enter width10
80

In [ ]:
X = 15
Y = 4

remainder = X % Y
print(remainder)

3

**Conditional Programming:**
Write a program that checks if a number is positive, negative, or zero. Take the number as input from the user. Implement a program that determines if a given year is a leap year.

In [ ]:
enter_a_number = int(input("enter a number"))

n = enter_a_number

if n < 0:
  print("given number is negative")
elif n == 0:
  print("given number is a zero")
else:
  print("given number is positive")

enter a number-5
given number is negative

In [ ]:
enter_a_year = int(input("enter a year"))

n = enter_a_year

if n % 4 == 0:
  print("given year is a leap year")
else:
  print("given is not a leap year")

enter a year2024
given year is a leap year

**Loops (While & For):**
Use a while loop to print the square of numbers from 1 to 5. Use a for loop to print each character of the string "Python".

In [ ]:
num = 1

while num<=5:
  square = num ** 2
  print(f"the square of {num} is {square}")
  num = num + 1

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25

In [ ]:
sample = "python"

for val in sample:
  print(val)

p
y
t
h
o
n

***args and kwargs:**
Create a function add_numbers that takes any number of arguments and returns their sum. Define a function print_info that takes any number of keyword arguments and prints them.

In [ ]:
def add_numbers(*args):
  sum = 0
  for val in args:
   sum = sum + val
  print(sum)

In [ ]:
add_numbers(1,2,3,5,67)

78

In [ ]:
def print_info(**kwargs):
  infor = {}
  for key,val in kwargs.items():
    infor[key] = val
  print(infor)

In [ ]:
print_info(name = "akram",age = 26,salary = 5000)

{'name': 'akram', 'age': 26, 'salary': 5000}

**Lambda Function:**
Write a lambda function to calculate the square of a number. Create a list of numbers and use the lambda function with the map function to get a list of their squares.

In [ ]:
square = lambda x : x**2
square(9)

81

In [ ]:
numbers = [3,5,2,6,1]

list(map(lambda x : x**2, numbers))

[9, 25, 4, 36, 1]

**Map:**
Define a function double that takes a number as input and returns its double. Use the map function to double each element in a list of numbers.

In [ ]:
def double(num):
  return num+num

In [ ]:
double(25)

50

In [ ]:
number = [2,5,12,5,2,6,7,9]

doubled_numbers = list(map(lambda x : x + x, number))
print(doubled_numbers)

[4, 10, 24, 10, 4, 12, 14, 18]

In [ ]:
number = [2,5,12,5,2,6,7,9]

def double(num):
  return num+num

doubled = list(map(double, number))
print(doubled)

[4, 10, 24, 10, 4, 12, 14, 18]

**Filter:**
Create a list of numbers and use the filter function to get only the even numbers. Define a function is_prime to check if a number is prime. Use filter to get a list of prime numbers from another list

In [ ]:
number = [2,5,12,5,2,6,7,9]

def evens(num):
  return num % 2 ==0

even_numbers = list(filter(evens, number))
print(even_numbers)

[2, 12, 2, 6]

In [ ]:
def is_prime(number):
  if number<=1:
    return False
  elif number<=3:
    return True
  elif number % 2 == 0 or number % 3 == 0:
    return False
  else:
    return True

In [ ]:
is_prime(19)

True

In [ ]:
numbers = [2,5,12,3,5,6,7,43,20,34]

def is_prime(number):
  if number<=1:
    return False
  elif number<=3:
    return True
  elif number % 2 == 0 or number % 3 == 0:
    return False
  else:
    return True

prime_numbers = list(filter(is_prime, numbers))
print(prime_numbers)

[2, 5, 3, 5, 7, 43]

**All and Any:**
Write a program using all to check if all elements in a list are integers. Implement a program using any to check if any string in a list is longer than 8 characters.

In [6]:
my_list = [4, 43, 439, 8, 9]

all(type(i) == int for i in my_list)

True

In [7]:
my_list = ["apple", "banana", "careerxclub", "liveclasses"]

any(len(i) > 8 for i in my_list)

True